.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.nav {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  list-style: none;
  gap: 2rem;

  &-link:link,
  &-link:visited {
    font-size: 1.4rem;
    color: #fff;
    font-family: $font-display;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem;
    display: block;
    transition: all 0.2s ease;
  }

  &-link:hover,
  &-link:active {
    background-color: rgba(#fff, 0.05);
    transform: translateY(-3px);
  }
}

.copyright {
  font-style: 1.4rem;
  color: $color-grey-light-2;
}
