.sidebar {
  background-color: $color-primary;

  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;

  @media screen and (max-width: $bp-lg) {
    grid-row: sidebar-start / sidebar-end;
    grid-column: 1 / -1;
    justify-content: end;
    align-items: center;
  }
}

.nav-btn {
  border-radius: 0;
  border: none;

  background-color: #fff;
  height: 2px;
  width: 3.6rem;
  margin-top: 4rem;
  @media screen and (max-width: $bp-lg) {
    margin-right: 4rem;
    margin-top: 0;
  }

  &::after,
  &::before {
    background-color: #fff;
    height: 2px;
    width: 100%;
    content: "";
    display: block;
  }

  &::before {
    transform: translateY(-1rem);
  }

  &::after {
    transform: translateY(0.8rem);
  }
}
